# fly.toml app configuration file generated for marketing-weathered-fog-3274 on 2025-10-30T11:24:38-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'marketing-weathered-fog-3274'
primary_region = 'sjc'

[build]
  [build.args]
    # Configure your API URL here - update after deploying your API
    API_URL = "https://api.emailhawk.dev"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
